.Card {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 20%;
    padding: 10px;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    background-color: white;
}

.Card h2 {
    margin: 0 0 5px 0;
}
