.NewsLinkCard {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.NewsLinkLeft{
    float: left;
    width: 45%;
}

.NewsLinkRight {
    float: left;
    width: 18%;
    background-color: #f1f1f1;
    padding-left: 5px;
}

.NewsLinkRight textarea{
    resize: none;
    width: 100%;
    height: 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.word-wrap p {
//word-wrap: normal;
    word-wrap: break-word;
//word-wrap: inherit;
}

@media screen and (max-width: 600px) {
    .NewsLinkLeft, .NewsLinkRight {
        width: 100%;
    }
}
