.Header {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: solid 1px #cccccc;
    background-color: #858484;
}

.Header a {
    color: black;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
}

.Header a:hover {
    background: #d2dddc;
}