.FormRow {
    margin: 8px 0;
}

.Form .FormRow:first-child {
    margin-top: 0
}

.FormRow label {
    display: block;
    /*font-size: 0.85rem;*/
    margin-bottom: 2px;
}

.FormRow input {
    width: 700px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
}

.FormRow input:focus {
    outline-color: blue;
}

.FormRow input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

.FormRow select {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.FormRow select:focus {
    outline-color: blue;
}


/*FormBox*/

.FormBox {
    margin: 8px 0;
}

.Form .FormBox:first-child {
    margin-top: 0

}

.FormBox label {
    display: block;
    /*font-size: 0.85rem;*/
    margin-bottom: 2px;
}

.FormBox textarea {
    height: 500px;
    width: 700px;
    display: block;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.FromBox textarea:focus {
    outline-color: blue;
}


.FormBox select {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.FormBox select:focus {
    outline-color: blue;
}


/* EVIDENCEBx */

.EvidenceBox {
    margin: 8px 0;
}

.Form .EvidenceBox:first-child {
    margin-top: 0

}

.EvidenceBox label {
    display: block;
    /*font-size: 0.85rem;*/
    margin-bottom: 2px;
}

.EvidenceBox textarea {
    height: 200px;
    width: 700px;
    display: block;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.EvidenceBox textarea:focus {
    outline-color: blue;
}


.EvidenceBox select {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.EvidenceBox select:focus {
    outline-color: blue;
}

