.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

.NewsListCard {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.bigHr {
    background-color: #858484 ;
    color: #858484 ;
    border: solid 2px #858484 ;
    height: 10px ;
    width: 100% ;
}

.bigHr2 {
    background-color: #858484 ;
    color: #858484 ;
    border: solid 2px #858484 ;
    height: 1px ;
    width: 100% ;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}