button.Button {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

button.Button:hover {
    background-color: #babcc0;
}

button.Button:disabled {
    border: 1px solid #f4a99f;
    color: #f4a99f;

}

